<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.oa.orderapp">

    <application
        android:name=".OAApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".presenter.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".presenter.ExampleActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presenter.activity.ProviderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presenter.activity.ProviderDetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presenter.activity.SignInActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.activity.OrderActivity"
            android:label="@string/title_activity_oder"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".presenter.activity.MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_oder"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".presenter.activity.AddNewActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>